<div class="register-box">
  <div class="register-logo">
    <a><b>Project Management Tool</b></a>
  </div>

  <div class="card">
    <div class="card-body">
      <p class="login-box-msg">Register a new membership</p>

      <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
        <div class="input-group mb-3">
          <input formControlName="username" type="text"  required="required"
          [ngClass]="{ 'is-invalid': submitted && form.username.errors }" class="form-control" placeholder="Username" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input formControlName="email" type="email" required="required"
          [ngClass]="{ 'is-invalid': submitted && form.email.errors }" class="form-control" placeholder="Email" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <select formControlName="userType" required="required"
          [ngClass]="{ 'is-invalid': submitted && form.userType.errors }"  [(ngModel)]="selectedUserType" class="form-control">
              <option value="1">Developer</option>
              <option value="2">QA</option>
              <option value="3">Scrum Master</option>
              <option value="4">BA</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <input formControlName="password" type="password" required="required"
          [ngClass]="{ 'is-invalid': submitted && form.password.errors }" class="form-control" placeholder="Password" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input formControlName="retypePassword" type="password" required="required"
          [ngClass]="{ 'is-invalid': submitted && form.retypePassword.errors }" class="form-control" placeholder="Retype password" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
          </div>
          <!-- /.col -->
          <div class="col-5">
            <button type="submit" [disabled]="isSubmitButton"  class="btn btn-primary btn-block">
              Register
            </button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <a [routerLink]="['/login']" class="text-center">I already have a membership</a>
    </div>
    <!-- /.form-box -->
  </div>
  <!-- /.card -->
</div>
